.Module.symvers.cmd
.kopycat.ko.cmd
.kopycat.mod.cmd
.kopycat.mod.o.cmd
.kopycat.o.cmd
.kopycat.prelink.o.cmd
.main.o.cmd
.modules.order.cmd
Module.symvers
kopycat.ko
kopycat.mod
kopycat.mod.c
kopycat.mod.o
kopycat.o
kopycat.prelink.o
main.o
modules.order
payload
payload.c.1
payload.inc

### Vagrant ###
# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

